.backtop{
    position: fixed;
    bottom: 88px;
    left: 50%;
    margin-left: 630px;
    width: 28px;
    height: 46px;
    background: url(../01-03-01-lagou/images/backtop.png) no-repeat 0 0;
}
.backtop:hover{
    background-position: -38px 0;
}